<div class="px-24 bg-gray-200 text-gray-700">
  <div class="my-5">
    <h1 class="text-4xl font-extrabold text-center"><%= @article.title %></h1>
  </div>
  <div class="my-5">
    <h2 class="block font-medium mb-1"> <%= @article.slug %></h2>
    <strong class="block font-medium mb-1"> <%= distance_of_time_in_words_to_now(@article.created_at)%></strong>
  </div>
  <div class="my-5">
    <article class="mb-1 "> <%= @article.body %></article>
  </div>
  <div class="my-5">
    <strong class="block font-medium mb-1"> <%= User.find(@article.user_id).email %></strong>
    <% if @article.created_at != @article.updated_at %>
      <strong class="block font-medium mb-1 italic"> Writed:&nbsp;<%= @article.created_at.strftime("%d %B  %Y, %l:%M%P")%></strong>
      <strong class="block font-medium mb-1 italic"> Updated:&nbsp;<%= @article.updated_at.strftime("%d %B  %Y, %l:%M%P")%></strong>
    <%end%>
  </div>
</div>
